/* GLOBAL STYLES */

html,body { height: 100%; width: 100%;}

a:hover { text-decoration: none; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { margin-top: 0px; margin-bottom: 0px; }
.marginTop { margin-top: @line-height-computed; }
.marginBot { margin-bottom: @line-height-computed; }
.marginTopSm { margin-top: @line-height-computed / 2; }
.marginBotSm { margin-bottom: @line-height-computed / 2; }
.marginTopXs { margin-top: @line-height-computed / 3; }
.marginBotXs { margin-bottom: @line-height-computed / 3; }
.marginTopNone { margin-top: 0px; }
.marginBotNone { margin-bottom: 0px; }
.marginRightSm { margin-right: @line-height-computed / 2; }
.marginLeftSm { margin-left: @line-height-computed / 2; }
.paddingBot { padding-bottom: @line-height-computed; }
.paddingTop { padding-top: @line-height-computed; }
.paddingTopSm { padding-top: @line-height-computed / 2; }
.paddingBotSm { padding-bottom: @line-height-computed / 2; }
.paddingTopXs { padding-top: @line-height-computed / 3; }
.paddingBotXs { padding-bottom: @line-height-computed / 3; }
.paddingTopNone { padding-top: 0px; }
.paddingBotNone { padding-top: 0px; }
.paddingLeftNone { padding-left: 0px; }
.paddingRightNone { padding-right: 0px; }
.hidden { display: none; }
.noShow { display: none; }
.heading-line { border-bottom: 1px solid @gray-light; padding-bottom: 5px; }

.paddingSm { padding: 5px; }
.paddingLg { padding: 15px; }
.paddingMd { padding: 10px; }

/* SITE COMPONENTS */

.orcaNav { background-color: @brand-info; }
.orcaNavIcon { width: 50px; margin-right: 10px; margin-top: -5px; }
#main { height: 100%; display: table; min-height: 1040px; width: 100%; }
.navbar { margin-bottom: 0px; }
.primaryContent { margin-top: 10px; }

#footer { 
	background-color: @brand-info; 
	display: table-row;
	height: 1px;
	
	section { 
		padding: 10px; 
		font-weight: bold; 
		color: @gray-lighter; 
	}
}

.subhead { 
	font-size: 14px; 
	margin-top: 5px; 
	color: #999; 
	text-shadow: 0 1px 0 #FFF; 
	margin-left: 10px; 
}

.label {
	padding: 5px 10px 5px;
}

/* DASHBOARD STYLES */

.greyBG { 
	background-color: #eee; 
}

.shortcut-link {

	display: inline-block;
	color: #AAA;
	margin-right: 20px;
	text-shadow: 0 1px 0 #FFF;
	transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
	text-decoration: none;
	
	&:hover {
		color: #555;
		text-decoration: none;
	}

	.shortcut-icon { 
	
		position: relative;
		font-size: 30px;
	
		.shortcut-alert {
			position: absolute;
			border-radius: 50cm;
			-moz-border-radius: 50cm;
			-webkit-border-radius: 50cm;
			font-size: 11px;
			color: #FFF;
			top: 0;
			right: 0;
			background: @brand-danger;
			border: 1px solid @brand-danger;
			text-shadow: none;
			font-weight: 700;
			line-height: 16px;
			width: 18px;
			height: 18px;
			text-align: center;
		}
	}
}

.color-panel( @bgColor, @textColor ) {
	overflow: hidden;
	padding: 25px 20px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: @textColor;
	background-color: @bgColor;
	
	h3, h5 { color: @textColor; }
	i { color: darken(@bgColor, 20%); }
}

.high-queue-panel { .color-panel( #BFCFF7, #000 ); }
.standard-queue-panel { .color-panel( #DDD9AB, #000 ); }
.error-queue-panel { .color-panel( #F7AF63, #000 ); }
.recent-queue-panel { .color-panel( #9CDDC8, #000 ); }

/* PUBLICATION STYLES */

.datasetBody {
	height: 99%;
	display: table;
	width: 100%;

		.datasetSidebar {
			width: 200px;
			display: table-cell;
			background-color: @brand-info;
			vertical-align: top;
			
			.sidebarBlock {
				border-bottom: 1px solid @brand-primary;
				padding: 10px;
				color: @navbar-inverse-color;
				
				.iconLink {
					color: #FFF;
					
					&:hover {
						color: @brand-warning;
					}
				}
				
				h2 { font-size: 18px; font-weight: bold; color: #FFF; }
				h3 { font-size: 16px; font-weight: bold; color: @gray-light; }
				h4 { font-size: 12px; color: #FFF; }
				
				.datasetDetails {
					margin-top: 10px;
					cursor: pointer;
					.datasetDetail {
						margin-top: 10px;
						.datasetDetailText {
							font-size: 14px;
						}
					}
				}
				
			}
			
			.sidebarLink {
				.sidebarBlock;
				cursor: pointer;
				&:hover {
					background-color: @brand-primary !important;
				}
				
				&.active {
					background-color: @brand-primary !important;
					i {
						color: #FFF;
					}
				}
				
				i {
					color: @brand-info;
					margin-top: 3px;
				}
				
			}
			
		}
		
		.datasetContent {
			display: table-cell;
			padding: 10px;
			
			.dataTable {
				tr.disabled { background-color: #d3d6ff; }
			}
			
			.datasetSubsection {
				display: none;
				td, th {
					font-size: 14px;
					&.sorting_1, &.sorting_2 {
						background-color: @state-info-bg;
					}
					
					a:hover { text-decoration: none; }
				}
				
				.dataTable-info { font-size: 16px; }
				.dataTable-tools { 
					background-color: #EEE; 
					padding: 5px; 
					a { cursor: pointer; }
					a:hover { text-decoration: none; }
				}
				
				.attribute {
					.attributeIcon { cursor: pointer; }
					.attributeContent { display: none; }
				}
				
				.participantWrap {
					a { cursor: pointer; }
					a:hover { text-decoration: none; }
					
					.participantContent {
						display: none;
					}
				}
			}
			
			.datasetHeader {
				#datasetDetailsToggle {
					cursor: pointer;
					&:hover {
						text-decoration: none;
					}
				}
			}
			
			#curationInterface {
			
				height: 99%;
				display: table;
				width: 100%;
				
				#curationWorkflow {
					display: table-cell;
					
					.panel-heading {
						i {
							margin-top: 3px;
						}
					}
					
					.partOrgSelect {
						font-size: 12px;
					}
					
					.addAttribute {
						cursor: pointer;
						&:hover {
							text-decoration: none;
						}
					}
					
					#curationWorkflowDetails {
						display: none;
						
						h3 { margin-bottom: 5px; }
						h3.progressHeader { 
							font-size: 16px;
							color: #333;
							padding: 10px;
							border-radius: 5px;
							-moz-border-radius: 10px;
							-webkit-border-radius: 10px;
							
							i { font-size: 26px; }
							
							&.progressSuccess { background-color: @brand-success; color: #FFF; font-weight: bold;}
							&.progressError { background-color: @brand-danger; color: #FFF; font-weight: bold; }
							&.progressRunning { background-color: @brand-primary; color: #FFF; font-weight: bold; }
							&.progressDefault { background-color: #EEE; }
							
							.progressText { color: @brand-warning; }
						}
					}
					
					
					.curationBlock {
						.curationErrors {
							display: none;
							.curationErrorList {
								max-height: 500px;
								overflow-y: auto;
								padding-right: 10px;
								
								.curationError {
									a {
										text-decoration: none;
										cursor: pointer;
										font-weight: bold;
										
										&:hover {
											text-decoration: none;
										}
									}
								}
							}
						}
						
						.ontologySelector {
						
							.ontologyViewOptions {
								display: none;
							}
							
							.ontologySelectedTerms {
								margin-top: 5px;
								max-height: 700px;
								overflow-y: scroll;
								
								.ontologySelectedTerm {
									background-color: lighten( @brand-success, 35% );
									border-radius: 10px;
									-moz-border-radius: 10px;
									-webkit-border-radius: 10px;
									font-size: 14px;
									padding: 5px;
									margin: 2px;
									
									.ontologySelectedQualifiers {
										.ontologySelectedQualifier {
											margin: 2px;
											padding: 5px;
											border-radius: 10px;
											-moz-border-radius: 10px;
											-webkit-border-radius: 10px;
											background-color: lighten( @brand-primary, 35% );
										}
										
									}
									
									.ontologyTermQualifierWarning {
										background-color: #ffffb3;
										padding: 5px;
										margin: 2px;
										border-radius: 10px;
										-moz-border-radius: 10px;
										-webkit-border-radius: 10px;
									}
									
									.ontologyRemoveSelectedTerm {
										cursor: pointer;
									}
									
									.checkboxLabel { 
										display: block;
										margin-left: 20px;
									}
									
									input[type="checkbox"] {
										float: left;
										margin-left: -20px;
										margin-right: 7px;
										width: 15px;
										height: 15px;
									}
								}
							}
						
							.ontologyViews {
							
								max-height: 700px;
								overflow-y: scroll;
						
								.popularOntologyTerm, .treeOntologyTerm {
									padding: 0px;
									overflow: hidden;
									
									.ontologyTermExpand {
										margin-left: 20px;
									}
									
									.ontologyTermWrap {
										background-color: #FFFFEF;
										border-radius: 10px;
										-moz-border-radius: 10px;
										-webkit-border-radius: 10px;
										font-weight: bold;
										font-size: 16px;
										padding: 5px;
										margin: 2px;
										
										&.highlightTerm {
											border: 2px solid @brand-danger;
										}
										
										.ontologyTermText {
											padding-top: 3px;
											a {
												cursor: pointer;
											}
											
											.ontologyTermFolder {
												cursor: pointer;
											}
										}
										
										.btn-sm {
											padding: 4px 6px;
											font-size: 12px;
										}
									}
								}
							
							}
						}
					}
					
					label {
						margin-bottom: 0px;
						margin-top: 3px;
					}
					
					.ontologySearchTable {
						width: 100%;
						thead {
							th { font-weight: normal; padding-bottom: 10px; }
						}
						
						tbody {
							//border: 3px solid @brand-primary;
							td {
								padding-top: 10px;
								padding-bottom: 10px;
								
								&.ontologyLeft { }
								&.ontologyRight { 
									padding-left: 10px;
									padding-right: 10px;
									width: 300px;
									background-color: @gray-lighter;
									vertical-align: top;
									
									.rightHeader {
									
										border-bottom: 1px solid @gray-light;
										padding-bottom: 5px;
									
										.selectedToolLink {
											cursor: pointer;
										}
									
										.btn-sm {
											padding: 2px 5px;
										}
									
										h5 {
											margin-top: 5px;
										}
									
									}
									
								}
							}
						}
					}
				}
				
				#curationRightSidebar {
					padding-left:10px;
					width: 260px;
					display: table-cell;
					
					ul {
						padding: 5px;
						font-size: 16px;
						list-style-position: inside;
						list-style-type: none;
						
						li {
						
							padding: 5px;
						
							&.active {
								background-color: #EEE;
							}
						
							ul {
								padding: 0px;
								font-size: 14px;
								list-style-position: inside;
								list-style-type: none;
								li {
									padding: 0px;
									margin-left: 10px;
									
								}
								
								&.curationSubmenu {
									display: none;
								}
							}
						}
							
						
						.activityIcon {
							margin-top: 4px;
						}
						
						a { 
							cursor: pointer;
							&:hover {
								text-decoration: none;
							}
						}
					}
					
					#curationSubmitNotifications {
						margin-top: 10px;
						
						#curationWorkflowErrorBtn {
							cursor: pointer;
							font-weight: bold;
							
							&:hover {
								text-decoration: none;
							}
						}
					}
					
					#curationHidden {
						display: none;
					}
				}
				
			}
			
		}
		
}

.qtip {
	max-width: 1000px !important;
	.qtip-content {
		ul {
			margin: 0px;
			padding: 0px;
		
			li { 
				margin: 0px; 
				padding: 0px; 
				margin-left: 15px; 
				
			}
			
			span.attributeUser { 
				font-size: 12px;
				color: @brand-danger;
			}
		}
		
		a { 
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
	
.datasetLinkouts {
	height: 40px;
}

.panel-heading {
	.btnBox {
		margin-top: -5px;
		margin-right: -10px;
	}
}

.dataTables_processing {
	z-index: 100;
	top: 0 !important;
}